<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href = "@{/css/all.css}">
    <link rel="stylesheet" th:href = "@{/css/form.css}">
    <meta charset="UTF-8">
    <title>Panier</title>
</head>
<body>
<div class="container">
    <form th:action="${/vente/save}" method="get">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Quantite</th>
                <th scope="col">Prix total</th>
            </tr>
            </thead>
            <tbody>
            <th th:each="$vente: {ventes}"></th>
            <th th:text="*{vente.produit.libelle}" scope="row"></th>
            <th th:text="*{vente.produit.prix}" scope="row"></th>
            <input type="number" name="qte" scope="row" min="1"/>
            <th th:text="${montant}" scope="row"></th>
            <input type="submit" class="btn btn-warning" value="Valider">
            </tbody>
        </table>
    </form>
</div>
</body>
<script rel="script" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script rel="script" th:src="@{/js/all.js}"></script>
</html>