<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Approvisionnement</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href = "@{/css/all.css}">
    <link rel="stylesheet" th:href = "@{/css/produit.css}">
</head>
<body>
<div class="container">
    <h1>Produits en stock</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Stock
            <th scope="col">Date de création</th>
            <th scope="col">Prix</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "item : ${appro}">
            <th th:text="${item.produit.libelle}" scope="row"></th>
            <th th:text="${item.produit.qteSeuil}" scope="row"></th>
            <th th:text="${item.produit.qteStock}" scope="row"></th>
            <th th:text="${item.dateAppro}" scope="row"></th>
            <th th:text="${item.produit.prix}" scope="row"></th>
            <td>
                <a type="button" class="btn btn-primary" th:href="@{/appro/edit/{id}(id=${item.id})}">Modifier</a>
                <a type="button" class="btn btn-danger" th:href="@{/appro/delete/{id}(id=${item.id})}">Supprimer</a>
                <a type="button" class="btn btn-warning" th:href="@{/vente/vendre/{id}(id=${item.id})}">Vendre</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<script rel="script" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script rel="script" th:src="@{/js/all.js}"></script>
</body>
</html>