<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <h1>Reçu</h1>
    <h3>Date:</h3>
    <table class="table-fixed w-full text-right border rounded">
        <thead class="bg-gray-100">

            <th>Date:</th>
            <th>Nom du Client:</th>
            <th>Nom du Vendeur:</th>
            <tr>
            <th>Produits achetés</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each:></tr>
        </tbody>
    </table>
</form>

</body>
</html>