<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Enregistrer produit</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2>Formulaire d'enregistrement</h2>
    <form class="row g-3" th:action="@{/produit/save}" method="post">
        <div class="mb-3">
            <label class="form-label">Categorie</label>
            <select name="categoryId" required>
                <option value="">Selectionner une categorie</option>
                <option
                    th:each ="category:${Listcategory}"
                    th:value="${category.id}"
                    th:text = "${category.designation}">
                </option>
            </select>
        </div>
      <div class="mb-3">
        <label class="form-label">Libelle</label>
        <input type="text" class="form-control" name="libelle">
      </div>
      <div class="mb-3">
        <label class="form-label">Quantité seuil</label>
        <input type="number" class="form-control" min="1" name="qteSeuil">
      </div>
      <div class="mb-3">
        <label class="form-label">Prix</label>
        <input type="number" class="form-control" name="prix">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Valider</button>
      </div>
    </form>
</div>
<script rel="script" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>