<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href = "@{/css/all.css}">
</head>
<body>
<div class="container">
    <h1>Liste des produits</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Libelle</th>
                <th scope="col">Quantité</th>
                <th scope="col">Stock
                <th scope="col">Date de création</th>
                <th scope="col">Prix</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "item : ${produits}">
                <th th:text="${item.id}" scope="row"></th>
                <th th:text="${item.libelle}" scope="row"></th>
                <th th:text="${item.qteSeuil}" scope="row"></th>
                <th th:text="${item.qteStock}" scope="row"></th>
                <th th:text="${item.dateCreation}" scope="row"></th>
                <th th:text="${item.prix}" scope="row"></th>
                <td>
                    <a th:href="@{/produit/edit/{id}(id=${item.id})}" class="btn btn-secondary"></a>
                    <a th:href="@{/produit/delete/{id}(id=${item.id})}" class="btn btn-danger"></a>
                    <a th:href="@{/appro/edit/{id}(id=${item.id})}" class="btn btn-primary"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script rel="script" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script rel="script" th:src="@{/js/all.js}"></script>
</body>
</html>