<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href = "@{/css/category.css}">
    <link rel="stylesheet" th:href = "@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/sweetalert-master/src/sweetalert.css}">
    <link rel="stylesheet" th:href="@{/sweetalert-master/src/css/button-loader.css}">
</head>
<body>
<div class="container">
    <h1>Liste des categories</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Designation</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="category:${ListCat}">
            <th th:text="${category.id}" scope="row"></th>
            <th th:text="${category.designation}" scope="row"></th>
                <td>
                    <a type="button" class="btn btn-primary" th:href="@{/category/edit/{id}(id=${category.id})}">Modifier</a>
                    <a class="btn btn-danger" th:href="@{/category/delete/{id}(id=${category.id})}" >Supprimer</a>
                </td>
        </tr>
        </tbody>
    </table>
</div>
<script rel="script" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script rel="script" th:src="@{/js/all.js}"></script>
<script rel="script" th:src="@{/js/category.js}"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
</body>
</html>
